---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero.astro';
import Background from '../components/Background.astro';
---

<Layout title='Osmar Ortiz | Frontend Developer'>
  <div class='flex-1 flex flex-col relative'>
    <Background />
    <Navbar client:visible />
    <div class='px-5 flex'>
      <Hero />
    </div>
  </div>
</Layout>
