<div class='inline-block flex-initial overflow-hidden'>
  <div class='background absolute top-0 left-0 w-full h-full min-h-full'>

  </div>
</div>

<style>
  .background {
    background-color: #e5e5f7;
    opacity: 1;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #e5e5f7 40px
      ),
      repeating-linear-gradient(rgba(0, 111, 238, 1) 55, rgba(0, 111, 238, 1));
  }
</style>
