---
import { Button } from '@nextui-org/react';
---

<main
  class='md:text-center flex md:justify-center md:items-center flex-col z-10'
>
  <div class='md:w-1/2 lg:pt-40 xl:pt-56'>
    <h1 class='text-6xl font-semibold mb-6'>
      Hello 👋, I'm a Frontend Developer
    </h1>
    <p class='text-xl font-medium text-foreground-400 mb-6'>
      As a frontend developer, I specialize in creating responsive and
      interactive user interfaces using the latest web technologies such as
      HTML, CSS, and JavaScript. I have a strong passion for building
      high-quality, visually appealing, and user-friendly websites and web
      applications
    </p>
    <div class='flex justify-center mb-6 gap-4'>
      <a
        href='
     https://www.linkedin.com/in/xizted/
      '
        target='_blank'
        rel='noopener noreferrer'
      >
        <svg
          class='w-8 h-8 hover:text-blue-500 transition-colors '
          style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'
          version='1.1'
          viewBox='0 0 512 512'
          xml:space='preserve'
          xmlns='http://www.w3.org/2000/svg'
          xmlns:xlink='http://www.w3.org/1999/xlink'
          ><path
            class='fill-current'
            d='M256,0c141.29,0 256,114.71 256,256c0,141.29 -114.71,256 -256,256c-141.29,0 -256,-114.71 -256,-256c0,-141.29 114.71,-256 256,-256Zm-80.037,399.871l0,-199.921l-66.464,0l0,199.921l66.464,0Zm239.62,0l0,-114.646c0,-61.409 -32.787,-89.976 -76.509,-89.976c-35.255,0 -51.047,19.389 -59.889,33.007l0,-28.306l-66.447,0c0.881,18.757 0,199.921 0,199.921l66.446,0l0,-111.65c0,-5.976 0.43,-11.95 2.191,-16.221c4.795,-11.935 15.737,-24.299 34.095,-24.299c24.034,0 33.663,18.34 33.663,45.204l0,106.966l66.45,0Zm-272.403,-296.321c-22.74,0 -37.597,14.95 -37.597,34.545c0,19.182 14.405,34.544 36.717,34.544l0.429,0c23.175,0 37.6,-15.362 37.6,-34.544c-0.43,-19.595 -14.424,-34.545 -37.149,-34.545Z'
          ></path></svg
        >
      </a>
      <a
        href='
    https://github.com/Xizted
    '
        target='_blank'
        rel='noopener noreferrer'
      >
        <svg
          viewBox='0 0 1792 1792'
          class='w-8 h-8 hover:text-blue-500 transition-colors'
          xmlns='http://www.w3.org/2000/svg'
          ><path
            class='fill-current'
            d='M1664 896q0 251-146.5 451.5t-378.5 277.5q-27 5-39.5-7t-12.5-30v-211q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-121-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-86-13.5q-44 113-7 204-79 85-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-40 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 89t.5 54q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z'
          ></path></svg
        >
      </a>
    </div>
    <Button
      client:visible
      id='download-cv'
      size='lg'
      client:visible
      color='primary'
      variant='shadow'
    >
      Download CV!</Button
    >
  </div>
</main>

<script>
  const btn = document.querySelector('#download-cv');

  btn?.addEventListener('click', () => {
    window.open('/CV.pdf', '_blank');
  });
</script>
